<% if !logged_in? %>
<h3 class="welcome">Please enter your information below to create your user account.</h3>
<form action="/signup" method="post">
  <label class="input_labels" for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="name" required><br><br>
  <label class="input_labels" for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="username" required><br><br>
  <label class="input_labels" for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="password" required><br><br>
  <input class="submit_button" type="submit" value="Create User">
</form>

<br>

<p class="instructions">If you already have an account, please <a href="/login">Log In</a>.</p>
<% end %>
