<% if !logged_in? %>
<h3>Please enter your information below to create your user account.</h3>
<form action="/signup" method="post">
  <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="name" required><br><br>
  <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="username" required><br><br>
  <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="password" required><br><br>
  <input type="submit" value="Create User">
</form>
<% end %>
