<h3>Please enter your information below to login.</h3>
  <form action="/login" method="post">
    <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="username" required><br><br>
    <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="password" required><br><br>
    <input type="submit" value="Log In">
  </form>

<br>

<p>If you don't have an account, please <a href="/signup">Sign Up</a>.</p>
