<h3 class="welcome">Please enter your information below to login.</h3>
  <form action="/login" method="post">
    <label class="input_labels" for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="username" required><br><br>
    <label class="input_labels" for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="password" required><br><br>
    <input class="submit_button" type="submit" value="Log In">
  </form>

<br>

<p class="instructions">If you don't have an account, please <a href="/signup">Sign Up</a>.</p>
