<form action="/books" method="post">

  <div class="form-group">
    <label class="input_labels" for="title">Title:</label>
    <input class="form-control" type="text" id="name" name="book[title]" placeholder="Book's Title" required>
  </div>

  <div class="form-group">
    <label>Select an existing author:</label>
    <select class="form-control" name="author[id]">
        <option value="">N/A</option>
      <% Author.all.each do |a| %>
        <option value="<%=a.id%>"><%=a.name%></option>
      <% end %>
    </select>
    <p>*Please leave as 'N/A' if adding a new author.</p>
  </div>

  <div class="form-group">
    <label>or add a new author:</label>
    <input class="form-control" type="text" id="author_name" name="author[name]" placeholder="Author's Name">
  </div>

  <div class="form-group">
    <label class="input_labels" for="summary">Brief Summary:</label><br>
    <textarea class="form-control" name="book[summary]" rows="5" cols="30" placeholder="Write a one line description of the book..." required></textarea>
  </div>

  <input class="form-control btn btn-primary" type="submit" value="Add Book">

</form>
