<h3 class="welcome">New book by <%=@author.name%></h3>

<form action="/books" method="post">

  <input type="hidden" id="hidden" name="author[id]" value="<%=@author.id%>">

  <div class="form-group">
    <label class="input_labels" for="title">Title:</label>
    <input class="form-control" type="text" id="name" name="book[title]" placeholder="Book's Title">
  </div>

  <div class="form-group">
    <label class="input_labels" for="summary">Brief Summary:</label><br>
    <textarea class="form-control" name="book[summary]" rows="5" cols="30" placeholder="Write a one line description of the book..."></textarea>
  </div>

  <input class="form-control btn btn-primary" type="submit" value="Add Book">
</form>
