<form action="/books/<%=@book.slug%>" method="post">

  <input type="hidden" id="hidden" name="_method" value="patch">

  <div class="form-group">
    <label class="input_labels" for="title">Title:</label>
    <input class="form-control" type="text" id="name" name="book[title]" value="<%=@book.title%>">
  </div>

  <div class="form-group">
    <label class="input_labels" for="author_name">Author's Name:</label>
    <input class="form-control" type="text" id="author_name" name="author[name]" value="<%=@book.author.name%>">
  </div>

  <div class="form-group">
    <label class="input_labels" for="summary">Brief Summary:</label><br>
    <textarea class="form-control" name="book[summary]" rows="5" cols="30"><%=@book.summary%></textarea>
  </div>

  <input class="form-control btn btn-primary" type="submit" value="Edit Book">
  
</form>
