<h3 class="welcome">Books available to add to your reading list:</h3>

<ul class="options_lists">
  <% @books.each do |book| %>
    <li><a href="/books/<%=book.slug%>"><%=book.title%></a> by <a href="/authors/<%=book.author.slug%>"><%=book.author.name%></a></li>
  <% end %>
</ul>

<a class="btn btn-primary" href="/books/new">Add New Book</a>
