<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Reading List</title>
    <link href="<%=url("/css/bootstrap.min.css")%>" rel="stylesheet" type="text/css">
    <style>
      .custom {
        background-color: #E0E2E4;
        border-color: #E0E2E4;
      }

    </style>
  </head>
  <body>

    <div class="container well">
      <h1 class="jumbotron text-center">My Reading List</h1>

      <% if logged_in?%>
      <nav class="navbar navbar-inverse custom">
        <ul class="nav nav-pills nav-justified">
          <li class="btn"><a href="/users/<%=current_user.slug%>">View Your Reading List</a></li>
          <li class="btn"><a href="/books">View Book Library</a></li>
          <li class="btn"><a href="/authors">View Authors</a></li>
          <% if current_user.username == "admin" %>
            <li class="btn"><a href="/users">View User List</a></li>
          <% end %>
          <li class="btn"><a href="/logout">Log Out</a></li>
        </ul>
      </nav>
      <% end %>

      <div class="text-center alert-info">
        <% if flash.has?(:message) %>
          <%= flash[:message] %>
        <% end %>
      </div>

      <div class="page">
        <%= yield %>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="../../public/js/bootstrap.min.js"></script>

  </body>
</html>
