<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Reading List</title>
  </head>
  <body>

    <div class="container">
      <h1>My Reading List</h1>

      <%= yield %>


  </body>
</html>
