<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Reading List</title>
  </head>
  <body>

    <div class="container">
      <h1>My Reading List</h1>

      <br>

      <% if flash.has?(:message) %>
        <%= flash[:message] %>
      <% end %>

      <%= yield %>

      <br>

    </div>

    <% if logged_in?%>
    <nav class="site_navigation">
      <a href="/users/<%=current_user.slug%>">My Reading List</a>
      <a href="/books">View Book Library</a>
      <a href="/authors">View Authors</a>
      <% if current_user.username == "admin" %>
        <a href="/users">View User List</a>
      <% end %>
      <a href="/logout">Log Out</a>
    </nav>
    <% end %>

  </body>
</html>
